<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>智慧农业管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet"  href="/css/intelligent.css"/>
    <script src="/js/jquery-3.5.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/ajaxfunc.js" type="application/javascript"></script>
</head>
<body>
<div class="row" th:insert="~{/navigation/navigation :: navigation}"></div>
<script>
    $(function (){
        $('#li6').addClass("active");
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
<div id="list-box">
    <button type="button" class="btn btn-success" style="margin-bottom: 10px" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">添加日志</button>
    <table  class="table table-hover">
        <th>序号</th>
        <th>标题</th>
        <th>添加时间</th>
        <th>操作</th>
        <tr th:each="journal:${Journals}">
            <td th:text="${Journals.indexOf(journal)+1+5*(pageParam.getCurrent()-1)}"></td>
            <td th:text="${journal.getTitle()}"></td>
            <td th:text="${journal.getAdd_time()}"></td>
            <td>
                <button th:onclick="ViewContent([[${journal.getId()}]])" class="btn">查看</button>
                <button th:onclick="DelJournal([[${journal.getId()}]])" class="btn">删除</button>
            </td>
        </tr>
    </table>
    <div class="text-right" >
        <ul class="pagination" style="margin-top: 0">
            <li class="page-item">
                <a th:class="${pageParam.hasPrevious()==true?'btn page-link':'btn page-link disabled'}" th:href="@{'/journal/'+${pageParam.getCurrent()-1}+'/5'}" tabindex=""><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item" th:if="${pageParam.hasPrevious()}">
                <a class="page-link" th:href="@{'/journal/'+${pageParam.getCurrent()-1}+'/5'}" th:text="${pageParam.getCurrent()-1}"></a>
            </li>
            <li class="page-item active">
                <a class="page-link" th:href="@{'/journal/'+${pageParam.getCurrent()}+'/5'}" th:text="${pageParam.getCurrent()}"></a>
            </li>
            <li class="page-item" th:if="${pageParam.hasNext()}">
                <a class="page-link" th:href="@{'/journal/'+${pageParam.getCurrent()+1}+'/5'}" th:text="${pageParam.getCurrent()+1}"></a>
            </li>
            <li class="page-item">
                <a th:class="${pageParam.hasNext()==true?'btn page-link':'btn page-link disabled'}"  th:href="@{'/journal/'+${pageParam.getCurrent()+1}+'/5'}" ><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </div>
</div>
<form th:action="@{/AddJournal}" method="post" id="light"  class="form-horizontal journal_content" style="overflow-x:hidden">
    <button type="button" class="btn btn-danger col-sm-offset-11 col-sm-1" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    <div id="titlediv">
        <input type="text" class="Journaltitle" placeholder="请输入标题" name="title">
    </div>
    <div id="RichText">
    </div>
    <textarea id="text1" name="Content" style="display:none"></textarea>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="submit" class="btn btn-default" >添加日志</button>
        </div>
    </div>
</form>
<div id="fade" class="black_overlay"></div>
<!-- 引入 wangEditor.min.js -->
<script type="text/javascript">
    var Base64 = {
        _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",
        encode: function(e) {
            var t = "";
            var n, r, i, s, o, u, a;
            var f = 0;
            e = Base64._utf8_encode(e);
            while (f < e.length) {
                n = e.charCodeAt(f++);
                r = e.charCodeAt(f++);
                i = e.charCodeAt(f++);
                s = n >> 2;
                o = (n & 3) << 4 | r >> 4;
                u = (r & 15) << 2 | i >> 6;
                a = i & 63;
                if (isNaN(r)) {
                    u = a = 64
                } else if (isNaN(i)) {
                    a = 64
                }
                t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a)
            }
            return t
        },
        decode: function(e) {
            var t = "";
            var n, r, i;
            var s, o, u, a;
            var f = 0;
            e = e.replace(/[^A-Za-z0-9+/=]/g, "");
            while (f < e.length) {
                s = this._keyStr.indexOf(e.charAt(f++));
                o = this._keyStr.indexOf(e.charAt(f++));
                u = this._keyStr.indexOf(e.charAt(f++));
                a = this._keyStr.indexOf(e.charAt(f++));
                n = s << 2 | o >> 4;
                r = (o & 15) << 4 | u >> 2;
                i = (u & 3) << 6 | a;
                t = t + String.fromCharCode(n);
                if (u != 64) {
                    t = t + String.fromCharCode(r)
                }
                if (a != 64) {
                    t = t + String.fromCharCode(i)
                }
            }
            t = Base64._utf8_decode(t);
            return t
        },
        _utf8_encode: function(e) {
            e = e.replace(/rn/g, "n");
            var t = "";
            for (var n = 0; n < e.length; n++) {
                var r = e.charCodeAt(n);
                if (r < 128) {
                    t += String.fromCharCode(r)
                } else if (r > 127 && r < 2048) {
                    t += String.fromCharCode(r >> 6 | 192);
                    t += String.fromCharCode(r & 63 | 128)
                } else {
                    t += String.fromCharCode(r >> 12 | 224);
                    t += String.fromCharCode(r >> 6 & 63 | 128);
                    t += String.fromCharCode(r & 63 | 128)
                }
            }
            return t
        },
        _utf8_decode: function(e) {
            var t = "";
            var n = 0;
            var r = c1 = c2 = 0;
            while (n < e.length) {
                r = e.charCodeAt(n);
                if (r < 128) {
                    t += String.fromCharCode(r);
                    n++
                } else if (r > 191 && r < 224) {
                    c2 = e.charCodeAt(n + 1);
                    t += String.fromCharCode((r & 31) << 6 | c2 & 63);
                    n += 2
                } else {
                    c2 = e.charCodeAt(n + 1);
                    c3 = e.charCodeAt(n + 2);
                    t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);
                    n += 3
                }
            }
            return t
        }
    }
    const E = window.wangEditor;
    const editor = new E('#RichText');
    // 或者 const editor = new E( document.getElementById('div1') )
    editor.config.uploadImgShowBase64 = true;
    const $text1 = $('#text1');
    editor.config.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $text1.val(Base64.encode(html));
    };
    editor.create();
</script>
</body>
</html>