<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:fragment="navigation">
    <nav class="navbar navbar-default" style="margin-bottom : 30px" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">农田检测平台</span>
                </button>
                <a class="navbar-brand" href="#" style="padding-left: 25px">农田检测平台</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left" >
                    <li id="li1"><a th:href="@{/index/0}">数据中心</a></li>
                    <li id="li2"><a th:href="@{/intelligent/1/5/0}">智能控制</a></li>
                    <li id="li3"><a href="">视频监控</a></li>
                    <li id="li4"><a th:href="@{/ill/1/5/0}">病虫害防控</a></li>
                    <li id="li5"><a href="">专家问诊</a></li>
                    <li id="li6"><a th:href="@{/region/1/5}">地域管理</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a id="a1" th:text="'欢迎,'+${session.loginUser.getName()}"></a></li>
                    <li><a id="a2" th:href="@{/logout}">退出登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>